page-register {

    .reg{

        background-color: transparent !important;
        color: red !important; 
        border: solid green !important;
        margin-top: 30px;
    }
    
    .heading{
        
        text-align: center !important;
        font-size: 30px !important;
        font-weight: 900;

    }
    .back{

        min-width: 20px !important;
        font-size: 20px !important;
        color: #000;
        background: transparent !important;

    }
    
    .l_back{

        margin-left: 5px !important;
        font-size: 20px;
        background: transparent !important;
        
    }



}
