page-register {

    .reg{

        background-color: transparent !important;
        color: red !important; 
        border: solid green !important;
        margin-top: 30px;
    }
    
    .heading{
        
        text-align: center;
        font-size: 30px !important;
        font-weight: 900;

    }



}
