page-home {

    button{
        background: transparent !important;
        color: red !important;
        box-shadow: black;
        
    }
    
    ion-item{

        background: transparent !important;
    }

    button{
        margin-top: 30px !important;
        border: 2px solid ;
        border-color: green ;
        border-radius: 10px;
    }

    
}
